<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.plugin.alert"
        version="0.5.2">

  <name>Echo</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/alert.js" target="js/alert.js"/>

  <js-module src="www/alert.js" name="alert">
    <clobbers target="alert" />
  </js-module>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="alert">
        <param name="ios-package" value="Alert" />
      </feature>
    </config-file>

    <header-file src="src/ios/Alert.h" target-dir="Alert"/>
    <source-file src="src/ios/Alert.m" target-dir="Alert"/>
  </platform>


</plugin>